#btnAddImgCervejaria {
  float: right;
  position: absolute;
  z-index: 7;
  margin-top: -2em;
  margin-left: -1em; 
}

#btnAddImgTap {
  float: right;
  position: absolute;
  z-index: 7;
  margin-top: 3em;
  margin-left: -4em; 
}

#btnAddTap {
  float: right;
  position: absolute;
  z-index: 7;
  margin-top: -2em;
  margin-left: 6em;
}

#saveAllTaps {
  display: none;
}