<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.appborabeber" version="1.0.13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bora Beber</name>
    <description>
        O aplicativo para tomar uma com os amigos.
    </description>
    <author email="alexandre_muzulao@hotmail.com" href="http://cordova.io">
        Alexandre Muzulão
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-datetimepicker" spec="^1.1.2" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-googlemaps" spec="https://github.com/mapsplugin/cordova-plugin-googlemaps#multiple_maps">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyC9CgTpZudd-3C8QX6awjhTUah6PeyIUb4" />
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="4.0.0">
        <variable name="APP_ID" value="1997109790366392" />
        <variable name="APP_NAME" value="BoraBeber" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.38.1" />
    </plugin>
    <plugin name="cordova-plugin-sqlite-2" spec="^1.0.5" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
</widget>
