#rowVodkasList {
    height: 14em;
}

#vodkaImparValidBind [valid-bind=''] {
    visibility: hidden;
    background-size: 13vh;
}

#vodkaPrice {
    margin-left: 3em;
}

.btnAddVodkass {
  position: fixed;
  bottom: 22px;
  right: 0px;
  margin-right: 15px;
}