#rowWhiskyList {
    height: 14em;
}

#whiskyImparValidBind [valid-bind=''] {
    visibility: hidden;
    background-size: 13vh;
}

#whiskyPrice {
    margin-left: 3em;
}

.btnAddWhiskys {
  position: fixed;
  bottom: 22px;
  right: 0px;
  margin-right: 15px;
}