#requestPeopleImg {
    max-width: 4em;
    margin-left: 2em;
    margin-top: -2.5em;
}

#drinkReqValue {
    margin-top: 2em;
    margin-left: -2em;
}

#drinkReqOptions {
    margin-left: 6.3em;
    margin-bottom: 3em;
}