<div class="page grey-900">
    <div class="header black">
        <div class="left">
            <button class="icon ion-navicon" onclick="openMyMenu('admMenu')"></button>
        </div>
        <div class="right">
            <button class="icon ion-chevron-left" onclick="backPage()"></button>
        </div>
        <h1 class="text-white text-strong align-center" data="PEDIDODETAIL">Pedido nº ${pedido.nro}</h1>
    </div>
    <div class="header sub grey-900 center" data="PEDIDODETAIL">
        <div class="left">
            <img class="circle" id="requestPeopleImg" src="${user.imgUser}">
        </div>
        <h2 class="align-center">${user.name}</h2>
    </div>
    <div id="mainUserMenu"></div>
    <div class="content has-header has-sub-header grey-900">
        <h1 class="text-white text-strong grey-800 align-center padding">Itens</h1>
        <div class="list no-border radius" data="PEDIDODETAIL.itens">
            <div class="item border-bottom">
                <div class="left">
                  <img class="avatar radius" src="${imagem}">
                </div>
                <h2>${titulo} ${medida}</h2>
                <div style="margin-left: 13em;">
                    <p>${qtd} Unidades</p>
                    <p>R$ ${precoInt},${precoCent}</p>
                </div>
            </div>
        </div>
        <h1 class="text-white text-strong grey-800 align-center padding">Pagamento</h1>
        <div class="list no-border radius" data="PEDIDODETAIL.pagamento">
            <div class="item border-bottom">
                <div class="row">
                    <div class="col">
                        <div class="column align-left">
                            <div class="col">
                                <p>SubTotal</p>
                                <p>Taxa de Entrega</p>
                                <p>${payResumTitle}</p>
                                <p class="text-strong" style="font-size: 21px;">Total</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="column align-right">
                            <div class="col">
                                <p>R$ ${payValueSubTot}</p>
                                <p>${payDeliveryTaxi}</p>
                                <p>${payResumValue}</p>
                                <p class="text-strong" style="font-size: 21px;">R$ ${payValueTot}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-white text-strong grey-800 align-center padding">Endereço de Entrega</h1>
        <div class="list no-border radius" data="PEDIDODETAIL.entrega">
            <div class="item" style="margin-bottom: 3em;">
                <p class="text-center">${logradouro} nº ${nro}</p>
                <p class="text-center">Bairro: ${bairro} - CEP ${cep}</p>
                <p class="text-center">Complemento: ${complemento}</p>
                <p class="text-center">Cidade: ${cidade} - ${estado}</p>
                <p class="text-center">Ponto de referência: ${referencia}</p>
            </div>
        </div>
    </div>
    <div class="footer has-content padding align-center">
        <div class="right" style="margin-top: -8em;">
            <button class="icon green circle ion-printer strong big" onclick="print()"></button>
        </div>
        <div class="right" style="margin-top: -4em;" data="PEDIDODETAIL">
            <a href="https://wa.me/55${user.phone}?text=Você%20fez%20um%20pedido%20no%20Império%20Beer,%20há%20um%20detalhe%20com%20seu%20pedido,%20vou%20explicar...%20">
                <button class="icon green circle ion-social-whatsapp-outline strong big"></button>
            </a>
        </div>

        <div class="button radius shadow full grey-800 text-center" data="PEDIDODETAIL" onclick="updataStateRequest('${_id}', '${company}', '${pedido.status}', '${pedido.statusPos}', '${pedido.activity}')" id="btnUpdateRequest">
            <p class="padding strong"> ${pedido.statusPos}</p>
        </div>

        <div class="row" id="rowConfirm">
            <div class="col padding">
                <button class="radius shadow full grey-800 text-center" data="PEDIDODETAIL" onclick="updataStateRequest('${_id}', '${company}', '${pedido.status}', '${pedido.statusPos}', '${pedido.activity}')">
                    <p> ${pedido.statusPos}<i class="text-strong green icon ion-checkmark-round icon-right text-big"></i></p>
                </button>
            </div>
            <div class="col padding">
                <button class="radius shadow full grey-800 text-center" onclick="saveRequestConfig()">
                    <p>Recusar<i class="text-strong red icon ion-close-round icon-right text-big"></i></p>
                </button>
            </div>
        </div>
    </div>
</div>