<div class="page">
    <div class="header black">
        <div class="left">
            <button class="icon ion-navicon" onclick="openMyMenu('admMenu')"></button>
        </div>
        <h1 class="text-white text-strong">Pedidos</h1>
    </div>
    <div class="header sub grey-900 center">
        <div class="title">
            1 Pedido na Fila
        </div>
    </div>
    <div class="content has-header has-sub-header grey-900 padding">
        <div class="list white radius">
            <div class="item" onclick="openPage('view/adm/requesDetail/requestDetail.html')">
                <div class="left">
                    <img class="avatar circle" src="./img/icons/bebedor.png">
                </div>
                <h2 class="strong">Carter Hudson</h2>
                <div class="space"></div>
                <!-- <p class="text-grey">(44) 9 9745 17 35</p> -->
                <small class="text-grey">
                    Espera: 1h 12 min
                    <i class="icon ion-clock text-green"></i>
                </small>
                <div class="right">
                    R$ 181,90
                </div>
            </div>
            <div class="item" onclick="openPage('view/adm/requesDetail/requestDetail.html')">
                <div class="left">
                    <img class="avatar circle" src="./img/icons/bebedor.png">
                </div>
                <h2 class="strong">Carter Hudson</h2>
                <div class="space"></div>
                <!-- <p class="text-grey">(44) 9 9745 17 35</p> -->
                <small class="text-grey">
                    Espera: 1h 12 min
                    <i class="icon ion-clock text-green"></i>
                </small>
                <div class="right">
                    R$ 181,90
                </div>
            </div>
        </div>
    </div>
</div>