htmlDistance += '<div class="item">'
htmlDistance += '    <div class="row">'
htmlDistance += '        <div class="col">'
htmlDistance += '            <div class="item label-float border-grey border-bottom">'
htmlDistance += '                <label class="icon ion-map">KM</label>'
htmlDistance += '                <input class="text-white" type="number">'
htmlDistance += '            </div>'
htmlDistance += '        </div>'
htmlDistance += '        <div class="col">'
htmlDistance += '            <div class="item label-float border-grey border-bottom">'
htmlDistance += '                <label class="icon ion-clock">Tempo</label>'
htmlDistance += '                <input class="text-white" type="number">'
htmlDistance += '            </div>'
htmlDistance += '        </div>'
htmlDistance += '        <div class="col">'
htmlDistance += '            <div class="item label-float border-grey border-bottom">'
htmlDistance += '                <label class="icon ion-cash">Valor</label>'
htmlDistance += '                <input class="text-white" type="number">'
htmlDistance += '            </div>'
htmlDistance += '        </div>'
htmlDistance += '    </div>'
htmlDistance += '</div>'