<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Beer</title>
    <style>
        td {
            width: 30px;
        }
        *{
            background:transparent !important;
            color:#000 !important;
            text-shadow:none !important;
            /* filter:none !important; */
            -ms-filter:none !important;
        }

        body {
            margin:0;
            padding:0;
            line-height: 1.4em;
        }
        @page {
            margin: 0.0cm;
        }
    </style>
</head>
<body>
    <table style="width:100%;">
        <tr>
            <img src="../../../img/logo.png" style="max-width: 9em; margin-left: 2em; filter: brightness(0)">
        </tr>
        <tr>
            <th>Pedido para <strong>Alexandre Muzulão</strong></th>
            <tr><td><strong>Nº: 99999</strong></td></tr>
            <tr><td>Data e Hora: <strong>04/08/2020</strong></td><td><strong>14:30:45</strong></td></tr>
        </tr>
        <tr>
            <th>Itens</th>
        </tr>
        <tr>
            <td>Ceveja Antarctica Original</td>
            <td>600ml</td>
            <tr>
                <td><strong>5</strong> Unidades</td>
                <td>R$ <strong>35,00</strong></td>
            </tr>
        </tr>
        <tr>
            <th>Pagamento</th>
            <tr><td><strong>Sub Total</strong></td><td>R$ 100,00</td></tr>
            <tr><td>Taxa de Entrega</td><td>R$ 8,00</td></tr>
            <tr><td>Forma de Pagamento:</td><td>Cartão </td></tr>
            <tr><td><strong>Total</strong></td><td><strong>R$ 108,00</strong></td></tr>
        </tr>
        <tr>
            <th>Endereço de Entrega</th>
            <tr><td>Rua Nestor Narciso de Souza, nº 207</td></tr>
            <tr><td>Bairro: JD. Licce</td></tr>
            <tr><td>Complemento:</td></tr>
            <tr><td>Ponto de Referência:</td></tr>
        </tr>
        <table>
            <th>Observações: Deixa o crakudo em casa!</th>
        </table>
    </table>    
</body>
</html>