<div class="page">
    <div class="header black" data="PAGENAME">
        <div class="left">
            <button class="icon ion-navicon" onclick="openMyMenu()"></button>
        </div>
        <h1 class="text-white text-strong align-center">${name}</h1>
    </div>
    <div id="mainUserMenu"></div>
    <div class="header grey-900 sub shadow tab">
        <!-- <div class="scrollmenu"> -->

            <!-- <button class="text-white active text-small" onclick="openTabs('tabPromos')" style="font-size: 9px!important;">Promos</button> -->
            <button class="text-white active" onclick="openTabs('tabCervejas')" style="font-size: 9px!important;">Cervejas</button>
            <button class="text-white" onclick="openTabs('tabVodkas')" style="font-size: 9px!important;">Vodkas</button>
            <button class="text-white" onclick="openTabs('tabWhiskys')" style="font-size: 9px!important;">Whiskys</button>
            <!-- <button class="text-white" onclick="openTabs('tabWhiskys')" style="font-size: 9px!important;">Gins</button>
            <button class="text-white" onclick="openTabs('tabWhiskys')" style="font-size: 9px!important;">Vinhos</button>
            <button class="text-white" onclick="openTabs('tabWhiskys')" style="font-size: 9px!important;">Churrasco</button>
            <button class="text-white" onclick="openTabs('tabWhiskys')" style="font-size: 9px!important;">Essencias</button> -->   

        <!-- </div>  -->
        
        
    </div>
    <div class="content has-header has-sub-header grey-900 padding">
        <!-- <div class="tab-content swiper-slide active" id="tabPromos">
            <div id="includePromos"></div>
        </div> -->
        <div class="tab-content swiper-slide active" id="tabCervejas">
            <div id="includeCervejas"></div>
        </div>
        <div class="tab-content swiper-slide" id="tabVodkas">
            <div id="includeVodkas"></div>
        </div>
        <div class="tab-content swiper-slide" id="tabWhiskys">
            <div id="includeWhiskys"></div>
        </div>
        <div class="tab-content swiper-slide" id="tabConveniencia">
            <div id="includeConveniencia"></div>
        </div>
    </div>
    <div class="footer" style="bottom: 3em;">
        <div class="right" data="CART">
            <span class="icon-badge red radius padding right">${qtd}</span>
            <button class="icon green circle ion-ios-cart strong huge" onclick="openCart('${qtd}')"></button>
        </div>
    </div>
</div>